<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.nitobi.johngarrett"
    version     = "2.0">

    <name>Splash Test</name>

    <description>
        If you're watching a Canucks game, you need play this.
    </description>

    <author href="http://www.nitobi.com" email="support@nitobi.com">
        Hardeep Shoker
    </author>

  <icon src="icon.png">
  <gap:splash src="splash.png" width="320" height="480"/>
</widget>

